aiohappyeyeballs==2.4.0
altgraph==0.17.4
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coverage==7.7.1
cryptography==41.0.1
distlib==0.3.8
dnspython==2.7.0
filelock==3.16.0
idna==3.10
iniconfig==2.1.0
packaging==24.2
pefile==2024.8.26
platformdirs==4.3.2
pluggy==1.5.0
psutil==5.9.5
pycparser==2.22
pycurl==7.45.6
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2024.11
pymongo==4.3.3
pynput==1.7.6
pyperclip==1.8.2
pytest==8.3.5
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dotenv==1.0.0
pywin32==306
pywin32-ctypes==0.2.3
requests==2.31.0
securepass==0.4.3
setuptools==75.6.0
six==1.17.0
types-pywin32==308.0.0.20241221
urllib3==2.3.0
virtualenv==20.26.4
wheel==0.45.1
